:root {
    /* Color Palette */
    --primary-color:var(--#FAE8D2;
    --secondary-color:var(--#F7E9DC);
    --accent-color:var(--#DF9A3C);
    --background-color:var(--#E3C7AE);
    --text-color:var(--#C5B9B5);

    /* Fonts */
    --font-family: "Montserrat", "Poppins", san-serif;
    --heading-font-size: 2rem;
    --paragraph-font-size: 1rem;
}

/* Global Reset */
* {
    margin: 0;
    padding: 0;
}

